{# {% extends 'base.html.twig' %} #}

{# {% block title %}Log in!
{% endblock %} #}

{% block body %}
<main class="container-login">
	<div class="container-login__div-inputs">
		<img src="{{ asset('build/images/Vulcain-NNAC.png') }}" alt="logo" class="container-login__div-inputs__img">
		<form method="post" class="form">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					Vous êtes déjà connecté en tant que 
					{{ app.user.userIdentifier }},
					<a href="{{ path('app_logout') }}">Logout</a>
				</div>
			{% endif %}

			<h1 class="h3 mb-3 font-weight-normal h1">Connexion</h1>
			<label for="inputEmail" class="label">Nom d'utilisateur</label>
			<input type="name" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
			<label for="inputPassword" class="label-password">Mot de passe</label>
			<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			{# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
							See https://symfony.com/doc/current/security/remember_me.html #}

			<div class="checkbox mb-3">
				<label>
					<input type="checkbox" name="_remember_me">
					Se souvenir de moi
				</label>
			</div>
			<button class="login" type="submit">
				Se connecter
			</button>
		</form>
	</div>
	<div class="container-login__div-icon">
		<img src="https://cdn-icons-png.flaticon.com/512/3408/3408455.png" alt="login icon">
	</div>
</main>
{% endblock %}
{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}
